@import "../../values.scss";
.Body{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 260px;
}
.ImgAndDiscr{
   position: relative;
    >span{
        position: absolute;
        z-index: 1;
        width: 260px;
        height: 260px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 24px;
        font-weight: 700;
     padding: {
        left: 20px;
        right: 20px;
    };
    }
    >img{
        z-index: 2;
        position: relative;
        background-color: white;
        max-width: 260px;
        height: 260px;
        transition: opacity 0.2s;
        &:hover{
            opacity: 0.1;
        }
    }
}
.Bottom{
    margin-top: 17px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >span{
        font-size: 21px;
    }
   
}
.Customize{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    padding: {
        top: 10px;
        right: 10px;
        left: 10px;
    };
    width: 100%;
    height: 88px;
    background-color: $LightGrey;
    border-radius: 10px;
    & input[type="radio"]{
        display: none;
    }
    & input[type="radio"]:checked + .radioLabel {
        background-color: #fff;
        color: black;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
    }
    & input[type="radio"]:disabled + .radioLabel {
        color: $Grey;
        cursor: default;
    }
    >div{
     display: flex;
     margin-bottom: 7px;
    }
    &.active{
        visibility: visible;
    }
    span{
        border-radius: 5px;
        padding: {
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 10px;
        };
        background-color: white;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
    }
    >b{
        height: 40px;
        font-size: 13px;
        background-color: white;
        margin-top: 10px;
        border-radius: 5px;
        padding: {
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 10px;
        };
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
    }

}
.radioLabel{
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 131.88px;
    height: 32px;
}