@import "../../../values.scss";
.Button{
    cursor: pointer;
    border: none;
    color: white;
    color: white;
    background-color: $MainColor;
    transition: all 0.2s;
    &:hover{
        background-color:$MainColorLight !important;
    }
    &:active{
        background-color: $MainColorDark !important;
    }
    &:disabled{
        cursor: default;
        background-color:$MainColorLight;
        &:hover{
            background-color:$MainColorLight;
        }
        &:active{
            background-color:$MainColorLight;
        }
    }
}