@import "../../values.scss";
.CategoriesAndSordBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.Categories{
    list-style:  none;
    display: flex;
    >li{
        cursor: pointer;
        background-color: $LightGrey;
        padding: 15px;
        border-radius: 30px;
        margin-right: 20px;
        transition: color 0.4s , background 0.4s;
    }
    >li.active{
        color: white;
        background-color: $Black;
    }

}
.Dishes{
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.textblue{
    color: $MainColor;
}