@import "../../values.scss";
.CategoriesAndSordBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.Categories{
    list-style:  none;
    display: flex;
    flex-wrap: wrap;
    >li{
        cursor: pointer;
        background-color: $LightGrey;
        padding: 15px;
        border-radius: 30px;
        margin-right: 20px;
        transition: color 0.4s , background 0.4s;
    }
    >li.active{
        color: white;
        background-color: $Black;
    }

}
.Dishes{
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.textblue{
    color: $MainColor;
}
@media #{$mq-phone}{
    .Categories{
        margin-bottom: 40px;
        >li{
            margin-right: 5px;
        }
    }
    .CategoriesAndSordBar{
        flex-direction: column;
    }
}
@media #{$mq-tablet} {
 .Categories{
        >li{
            padding: 10px;
        }
 }
}