@import "../../values.scss";
.Header{
    padding-bottom: 35px;
    margin-bottom: 40px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    border-bottom: 1px solid $LightGrey;
}
.Left{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    b{
        color: $MainColor;
    }
    >span{
        margin-left: 15px;
    }
}
.Right{
    color: white;
    background-color: $MainColor;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    >ul{
        display: flex;
        list-style: none;
        >:first-child{
            margin: {
                left: 10px;
                right: 10px;
            };
        }
        >:last-child{
            margin: {
                left: 10px;
                right: 10px;
            };
            cursor: pointer;
        }
        >li{
            display: flex;
            align-items: center;
            >div{
                border:  1px solid white;
                height: 100%;
            }
        }
    }
}