@import "../../values.scss";
.Header{
    padding-bottom: 35px;
    margin-bottom: 40px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    border-bottom: 1px solid $LightGrey;
}
.Left{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    transition: background 0.3s;
    &:hover{
        background-color: $MainColorLight;
        b{
            color: white;
            text-shadow: 1px 1px black;
        }
    }
    b{
        transition: all 0.3s;
        color: $MainColor;
    }
    >span{
        margin-left: 15px;
    }
}
.Right{
    color: white;
    background-color: $MainColor;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    >ul{
        display: flex;
        list-style: none;
        >:first-child{
            margin: {
                left: 10px;
                right: 10px;
            };
        }
        >:last-child{
            border-radius: 5px;
            padding: 5px;
            margin: {
                left: 5px;
                right: 10px;
            };
            cursor: pointer;
            transition: background 0.2s;
            &:hover{
                background-color: $MainColorLight;
            }
        }
        >li{
            display: flex;
            align-items: center;
            >div{
                border:  1px solid white;
                height: 100%;
            }
        }
    }
}
.MyInputBox{
    height: 40px;
    display: flex;
}
.MyInput{
    border-radius: 10px 0 0 10px;
    border: 1px solid $Grey;
    padding-left: 10px;
    height: 40px;
    width: 400px;
    &:focus{
        border: 2px solid $MainColor;
        outline: none;
    }
}
.ButtonClear{
   position: absolute;
   top: 50%;
   right: 0;
   transform: translate(-20%, -50%);
   background-color: transparent;
   cursor: pointer;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: none;
   &:hover{
     background-color: rgba($color: #e4e0e0, $alpha: 1.0);
   }
   &:active{
     background-color: $Grey;
   }
   &:disabled{
    cursor: default;
    opacity: 0.1;
    &:hover{
        background-color: transparent;
      }
    &:active{
        background-color: transparent;
      }
   }
}