@import "../../values.scss";
.CategoriesAndSordBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.Dishes{
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blueTxt{
    color: $MainColor;
}